body {
  padding-top: 0 !important;
  background-color: white; }
  body header nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #944848 !important; }
    body header nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
      color: white; }
    body header nav.navbar.navbar-expand-lg.navbar-light.bg-light a:hover {
      color: grey;
      transition: 1s; }
    body header nav.navbar.navbar-expand-lg.navbar-light.bg-light ul li {
      margin-right: 5%; }
    body header nav.navbar.navbar-expand-lg.navbar-light.bg-light ul i {
      font-size: 120%; }
    @media (max-width: 991px) {
      body header nav.navbar.navbar-expand-lg.navbar-light.bg-light ul i {
        display: none; } }
    body header nav.navbar.navbar-expand-lg.navbar-light.bg-light .logout {
      margin-left: -10px; }
  body section .container {
    min-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white; }
    body section .container .content form input, body section .container .content form select, body section .container .content form textarea {
      max-width: 100% !important; }
    body section .container .content .back a {
      color: black !important; }

.dropdown-menu.show, body header nav.navbar.navbar-expand-lg.navbar-light.bg-light a:hover {
    background-color: #944848;
}